/Server/Server.vcxproj.user
/Server/x64/Debug
/Server/x64/Release
/Redmine/x64/Debug
/Redmine/x64/Release
/RedmineTest/x64/Debug
/RedmineTest/x64/Release
/Redmine/Release
/x64/Debug
/x64/Release
/Redmine/*.user
/RedmineTest/*.user
/.vs/RedmineAnalysis/v15
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0
/*.dll
/*.iobj
/*.pdb
/*.exe
/*.exp
/*.ipdb
/*.lib
/.vs
/RedmineTest/serverlog.txt
/Server/serverlog.txt
/RedmineAnalysis.sln.DotSettings.user
/*.ilk
/serverlog.txt
Redmine.tlog
Debug
spdlog
